<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>ALL BOOKS</h1>
    <div>
        <a href="/books/new">Add Book</a>
    </div>
    <ul>
        <% for(let book of books) {%>
            <li><a href="/books/<%= book._id %>"><%= book.title%></a></li>
            <% } %>
    </ul>
</body>
</html>